.app{
  text-align: center;
  background-color:	#1E90FF;
}

.header{
  display:flex;
  background-color: #0000CD;
  padding-top: 10px;
}

.nameHeader{
  text-align: left;
  color: white;
  font-size: 70px;
  width: 50%;
  margin-left: 20px;
  text-shadow: 2px 2px black;
  margin-bottom: -1px;
}

.navBar{
  font-size: 20px;
  text-align: right;
  width: 50%;
  margin-bottom: -1px;
  color:white; 
  margin-top: 10px;
  margin-right: 20px;
  text-shadow: 2px 2px black;
}
#selfieImg{
  margin-top: 50px;
  border-radius: 100%;
  height:300px;
  border:10px solid black;
}

#nameProfileHeader{
  color:white;
  font-size: 40px;
  border-bottom: 2px solid white;
  margin-right: 400px;
  margin-left: 400px;
}

#bioProfileHeader{
  color:white;
  padding-bottom: 10px;
}

.infoBody{
  display: flex;
  height: 100%;
}

.aboutMe{
  padding-top: 10px;
  width: 50%;
  background-color: white;
  color:#0000CD;
  font-weight: bold;
}

.aboutMeParagraph{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
}

#aboutMeTitle{
  border-bottom: 2px solid #0000CD;
  margin-left: 200px;
  margin-right: 200px;
}

.interests{
  width: 50%;
  background-color: white;
  color:#0000CD;
  font-weight: bold;
}

#interestTitle{
  border-bottom: 2px solid #0000CD;
  margin-left: 200px;
  margin-right: 200px;
}

#educationTitle{
  border-bottom: 2px solid #0000CD;
  margin-left: 170px;
  margin-right: 170px;
}

.interestList{
  text-align: left;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 18px;
}
.interestList li{
  margin-bottom: 5px;
}

.Footer{
  background-color: white;
  color:  #0000CD;
}